@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;

  --text-xs: 0.7rem; 
  --text-sm: 0.85rem; 
  --text-lg: 1rem; 
  --text-xl: 1.25rem; 
  --text-5xl: 2.5rem;
  
  --color-sienna: #6C2513;
  --color-terracotta: #A75A3C;
  --color-oxblood: #3B1314;
  --color-pearl: #F9F5EC;
}

html {
  -webkit-text-size-adjust: 100%;
}
